
@font-face {
    font-family: Poppins-Regular;
    src: url('./static/font/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('./static/font/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url('./static/font/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('./static/font/poppins/Poppins-SemiBold.ttf'); 
}
  

body {
    margin: 0;
    padding: 0;
    background-image: url(./static/vendor/freepik//Background.jpg);
    background-size: cover;
}

.canvas {
    background-color: #cf6a87;
    width: 450px;
    height: 600px;
    align-items: center;
    margin: auto;
    border-radius: 2%;
    box-shadow: 0px 5px 5px 0 #666666;
}

h1 {
    color: white;
    font-family: Poppins-Medium ;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

h2 {
    font-family: Poppins-Medium;
    font-size: 80px;
    text-align: center;

}

h3 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    color: #ececec;
}

h3:hover{
    color: white;
}

.box-instruction{
    background-color: #f3a683;
    border-radius: 5%;
    color: white;
    display: block;
    font-family: Poppins-Regular;
    margin: auto;
    width: 80%;
}

#instruction {
    text-align: center;
    margin: 20px 30px;
    padding-bottom: 20px;
    color: #ececec;
}

#instruction:hover{
    color: white;
}

button a {
    text-decoration: none;
}

.button-start {
    background: #574b90;
    border: none;
    border-radius: 3%;
    color: white;
    cursor: pointer;
    font-family: Poppins-Bold;
    font-size: 40px;
    display: block;
    text-align: center;
    padding: 13px;
    margin: auto;
    margin-top: 60px;
    width: 50%;
    user-select: none; 
}

.button-instruction {
    background: #574b90;
    border: none;
    border-radius: 3%;
    color: white;
    cursor: pointer;
    font-family: Poppins-Bold;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 13px;
    margin: auto;
    margin-top: 200px;
    width: 50%;
    user-select: none; 
}

.button-start:hover{
    background: #786fa6;
}

.button-start:active{
    outline: 5px solid #f7d794;
}

.caption {
    float: left;
    margin: 10px 85px;
    font-family: Poppins-Regular;
    color: white;
    padding-top: 0 0;
}

.box {
    width: 120px;
    height: 120px;
    display: flex;
    margin: -20px 50px;
    float: left;
}

#case{
    color: black;
}

.popup{
    font-family: Poppins-Bold;
    font-size: 50px;
    display: none;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 20px;
    margin-top: 30vh;
    background-color: aliceblue;
}

:root{
    --green : rgb(46, 204, 113);
    --blue : rgb(52, 152, 219);
    --purple : #9b59b6;
    --yellow : #f1c40f;
    --orange : #e67e22;
    --red : #e74c3c:
    --white : #ecf0f1;
    --gray : #95a5a6;
    --black : #2c3e50;
}